[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = github.com:itchyny/lightline.vim
[submodule "vim/pack/plugins/start/vimwiki"]
	path = vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/pack/plugins/start/rust.vim"]
	path = vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/pack/plugins/start/vim-cmake-syntax"]
	path = vim/pack/plugins/start/vim-cmake-syntax
	url = https://github.com/pboettch/vim-cmake-syntax.git
[submodule "vim/pack/plugins/start/copilot.vim"]
	path = vim/pack/plugins/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "vim/pack/plugins/start/nvim-treesitter"]
	path = vim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "vim/pack/plugins/start/vim-fugitive.git"]
	path = vim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/diffview.nvim"]
	path = vim/pack/plugins/start/diffview.nvim
	url = git@github.com:sindrets/diffview.nvim.git
[submodule "vim/pack/plugins/start/nvim-web-devicons"]
	path = vim/pack/plugins/start/nvim-web-devicons
	url = git@github.com:nvim-tree/nvim-web-devicons.git
[submodule "vim/pack/plugins/start/gitsigns.nvim"]
	path = vim/pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "vim/pack/plugins/start/nvim-lspconfig"]
	path = vim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "vim/pack/plugins/start/nvim-lspsaga"]
	path = vim/pack/plugins/start/nvim-lspsaga
	url = https://github.com/nvimdev/lspsaga.nvim.git
[submodule "vim/pack/plugins/start/nvim-lsp-inlayhints"]
	path = vim/pack/plugins/start/nvim-lsp-inlayhints
	url = https://github.com/lvimuser/lsp-inlayhints.nvim.git
[submodule "vim/pack/plugins/start/nvim-plenary"]
	path = vim/pack/plugins/start/nvim-plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "vim/pack/plugins/start/nvim-telescope"]
	path = vim/pack/plugins/start/nvim-telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
