[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = github.com:itchyny/lightline.vim
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = github.com:airblade/vim-gitgutter.git
[submodule "vim/pack/plugins/start/vim-slime"]
	path = vim/pack/plugins/start/vim-slime
	url = github.com:jpalardy/vim-slime
[submodule "vim/pack/plugins/start/vimwiki"]
	path = vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/pack/plugins/start/rust.vim"]
	path = vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
